<div class="content">
  <div class="panel panel-default border p-1">
    <div class="panel-body container">
      <div class="row">
        <div class="col text-center">
          <h2 class="text-dark">Registration</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" placeholder="john-doe@gmail.com" class="form-control" [(ngModel)]="model.Email" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">First Name</label>
            <input type="text" placeholder="John" class="form-control" [(ngModel)]="model.NameFirst" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">Last Name</label>
            <input type="text" placeholder="Doe" class="form-control" [(ngModel)]="model.NameLast" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">Telephone</label>
            <input type="tel" placeholder="+7-123-456-7890" class="form-control" [(ngModel)]="model.Telephone"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" placeholder="Password" class="form-control" [(ngModel)]="model.Password" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <input type="password" placeholder="Password" class="form-control" [(ngModel)]="model.PasswordConfirm"
                   required/>
          </div>
        </div>
      </div>
      <div class="row mb-4" *ngIf="isInited">
        <div class="col-12">
          <div class="form-group">
            <label class="control-label">PIN from e-mail</label>
            <input type="password" class="form-control" [(ngModel)]="pin" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div *ngIf="isInited">
            <button class="btn btn-primary float-end" (click)="registrationConfirm()">Complete Registration</button>
          </div>
          <div *ngIf="!isInited">
            <button class="btn btn-primary float-end" (click)="registrationInit()">Start Registration</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
