<h1 class="text-center">Demo-Tools by Ivan Litskevich</h1>
<h2 class="mt-5">
  Used IT Stack:
</h2>
<ul>
  <li>Micro Services</li>
  <li>ASP.NET Core 5.0 API</li>
  <li>Envoy (api-proxy)</li>
  <li>PostgreSQL + EF Core + Migrations</li>
  <li>Docker + Docker-Compose</li>
  <li class="strike">VUE 3.0 (Vuex)</li>
  <li>Angular 11.2</li>
  <li>TypeScript, JavaScript</li>
  <li>Bootstrap</li>
  <li>HTML 5, SASS, CSS 3</li>
  <li>REST, JSON</li>
  <li>Visual Studio, Web Storm</li>
  <li>Git</li>
  <li>Synology Docker Host</li>
</ul>
